{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false
      }
    ],
    "flow",
    "react"
  ],
  "plugins": [
    [
      "emotion",
      {
        "autoLabel": true,
        "sourceMap": true
      }
    ]
  ]
}
